on: push
jobs:
  do-the-thing:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      #  with:
      #    fetch-depth: 0
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      #- uses: tj-actions/changed-files@v6.3
      #  id: changed-files
  
      - name: tests and coverage
        run: |
          pip install numpy matplotlib scipy scikit-learn pytest coveralls
          coverage run --source=skpp -m pytest -s
          coveralls

      - name: sphinx things
        run: |
          pip install sphinx sphinx-gallery
          sphinx-build doc out

      - name: LaTeX stuff
        #if: contains(steps.changed-files.outputs.modified_files, 'doc/math.tex')
        run: |
          sudo apt-get install texlive texlive-latex-extra
          pdflatex -output-directory=out doc/math.tex

      - name: deploy to pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: out
